@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');

body {
  background-color: #f0f0f0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  font-family: 'Open Sans', sans-serif !important;
}

.container-register {
  flex: 1; /* Para que ocupe el espacio disponible entre el header y el footer */
  display: flex;
  align-items: center;
}

.phone-container {
  position: relative;
  width: 250px;
  height: 500px;
}

.phone-frame {
  width: 100%;
  height: auto;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}

.phone-screen {
  position: absolute;
  top: 2%;
  left: 6%;
  width: 89%;
  height: 98%;
  overflow: hidden;
  z-index: 0;
}

.slider {
  position: relative;
  width: 100%;
  height: 100%;
}

.slide {
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: opacity 1s ease-in-out;
  background-size: cover;
  background-position: center;
}

.slide.active {
  opacity: 1;
}

.logo {
  width: 150px;
}

#togglePassword, #toggleRepeatPassword {
  border: none;
  background: none;
  cursor: pointer;
  font-size: 1em;
  --bs-btn-hover-color: #212529;
}

.btn-submit {
  width: 100%;
}

.separator {
  display: flex;
  align-items: center;
  text-align: center;
  color: #aaa;
}

.separator::before,
.separator::after {
  content: '';
  flex: 1;
  border-bottom: 1px solid #aaa;
}

.separator:not(:empty)::before {
  margin-right: .25em;
}

.separator:not(:empty)::after {
  margin-left: .25em;
}

.separator-text {
  font-size: 1em;
  color: #555;
  padding: 0 10px;
  background-color: #fff;
}

/* Estilo para las alertas */
.alert {
  margin-top: 20px;
  padding: 10px;
  border-radius: 5px;
  text-align: center;
  width: 100%;
}

.alert-success {
  background-color: #d4edda;
  color: #155724;
  border: 1px solid #c3e6cb;
}

.alert-danger {
  background-color: #f8d7da;
  color: #721c24;
  border: 1px solid #f5c6cb;
}